
@{
    ViewData["Title"] = "Nexos Libreria NET";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="background:gray; height:100%">
    <h1 class="display-4">Nexos Library NET</h1>
</div>

