@using nexos_Libreria_MVC.Common.Dto;
@model List<BookDto>
@{
    ViewData["Title"] = "Nexos Libreria NET";
}

<div class="row">
    <div class="col-md-12">
        <input type="text" id="filtro" class="form-control" placeholder="Filtrar por...">
    </div>
</div>

<table class="table table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Genero</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Titulo</td>
                <td>@item.Genero</td>
            </tr>
        }
    </tbody>
</table>
